# Backend
FILES_ROOT=./Paczki INFA - Uporządkowane
INDEX_FILE=./INDEKS.csv
PENDING_DIR=./backend/pending
ADMIN_PASSWORD=admin123
MAX_UPLOAD_MB=10
PORT=8081
GITHUB_PR_URL=https://github.com/dommilosz/Paczka-eti-pg/pulls
CORS_ORIGIN=https://paczka.atos-iks.de

# Frontend (used during vite build)
VITE_API_BASE=http://localhost:8081
